#projectSec {
  background: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat; }

#italic {
    font-style: italic;
}

#bold {
  font-weight: bold;
}

.card-header, #cerf img {
  cursor: pointer; }

.header-menu {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

.skills-inc {
  display: inline-flex;
}